html,
body,
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;  /* default value */
}

.box {
    width: 100px;
    height: 60px;
    background: #f00;
    margin: 5px;
}